.wrapper {
	max-width: 70rem;
	margin: 0 auto;
	padding: 0 1rem;
	display: grid;
	grid-template-columns: 1fr;
}

.circleSmall {
	position: absolute;
	right: 0;
	top: 357px;
}

.circleLarge {
	position: absolute;
	left: 0;
	top: 10rem;
}

.app {
	background-color: var(--purple-900);
	clip-path: ellipse(100% 60% at 50% 40%);
}

.informationContainer {
	display: flex;
	flex-direction: column;

	gap: 2rem;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 80px;
	background-color: var(--purple-100);
	clip-path: ellipse(100% 60% at 50% 40%);
}

.informationContent {
	display: flex;
}

.ctaContainer {
	padding-top: 240px;
	background-color: var(--white);
}

.ctaContainer ul {
	list-style: none;
	display: flex;
	gap: 28px;
}

.logoSocial {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3.5rem;
	padding-top: 7rem;
	padding-bottom: 7rem;
}
