.wrapper {
	max-width: 1120px;
	margin: 32px auto;
	padding: 0 16px;
	display: grid;
	grid-template-columns: 1fr;
	
}

.circleSmall {
	position: absolute;
	right: 0;
	top: 22.3125rem;
}

.circleLarge {
	position: absolute;
	left: 0;
	top: 160px;
}


.app { 
	background-color: var(--purple-900);
}

.informationContainer { 
	display: flex;	
	gap: 32px;
	justify-content: center;
	margin-top: 6.25rem;
	margin-bottom: 9rem;
}

