.wrapper {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 16px;
	display: grid;
	grid-template-columns: 1fr;
}

.circleSmall {
	position: absolute;
	right: 0;
	top: 22.3125rem;
}

.circleLarge {
	position: absolute;
	left: 0;
	top: 160px;
}

.app {
	background-color: var(--purple-900);
	clip-path: ellipse(100% 60% at 50% 40%);
}

.informationContainer {
	display: flex;
	flex-direction: column;

	gap: 32px;
	align-items: center;
	padding-top: 6.25rem;
	padding-bottom: 5rem;
	background-color: var(--purple-100);
	clip-path: ellipse(100% 60% at 50% 40%);
}

.informationContent {
	display: flex;
}

.ctaContainer {
	padding-top: 15rem;
	background-color: var(--white);
}
