:root {
	--green: #44ffa1;
	--purple-900: #24053e;
	--purple-500: #584d62;
	--purple-100: #fcf8ff;
	--white: #ffffff;
}

* {
	box-sizing: border-box;
}

body {
	--webkit-font-smoothing: antialiased;
	background-color: var(--white);
	position: relative;
	margin: 0 auto;
}

body,
button {
	font-family: "Fraunces", serif;
}

ul { 
	padding: 0;
}